<form (submit)="login($event)">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" [(ngModel)]="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
    </p>
    <p>
        <label for="type">Type:</label>
        <select name="type" id="value" [(ngModel)]="type">
            <option value="citalac">Čitalac</option>
            <option value="bibliotekar">Bibliotekar</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
    <p class="error">{{error}}</p>
</form>
