[submodule "AOR2/Projekat/lib/gimage"]
	path = AOR2/Projekat/lib/gimage
	url = https://github.com/butcherg/gimage.git
[submodule "AOR2/Projekat/lib/bmpmini"]
	path = AOR2/Projekat/lib/bmpmini
	url = https://github.com/yangcha/bmpmini.git
[submodule "AOR2/Projekat/lib/TinyJPEG"]
	path = AOR2/Projekat/lib/TinyJPEG
	url = https://github.com/serge-rgb/TinyJPEG.git
[submodule "AOR2/Projekat/lib/stb"]
	path = AOR2/Projekat/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "AOR2/Projekat/lib/avx2_mathfun"]
	path = AOR2/Projekat/lib/avx2_mathfun
	url = https://github.com/yuyichao/avx2_mathfun.git
[submodule "AOR2/Projekat/lib/vectorclass"]
	path = AOR2/Projekat/lib/vectorclass
	url = https://github.com/vectorclass/version2.git
