<h2>Workshop details</h2>
<section *ngIf="workshop">
    <h3>Basic information</h3>
    <p class="error" *ngIf="!workshop.active">This workshop has not yet been approved by an administrator or has been cancelled.</p>
    <ul>
        <li><strong>Name:</strong> {{workshop.name}}</li>
        <li><strong>Description:</strong> {{workshop.description}}</li>
        <li><strong>Date:</strong> {{workshop.date}}</li>
        <li><strong>Place:</strong> {{workshop.place}}</li>
    </ul>
    <h3>Gallery</h3>
    <ul class="gallery">
        <li *ngFor="let photo of workshop.photos"><img src="{{util.photoUrl(photo)}}"></li>
    </ul>
    <h3>Map</h3>
    <div class="map">
        <ejs-maps id="rn-container" [centerPosition]="mapCenter" [zoomSettings]="mapZoom">
            <e-layers>
                <e-layer [urlTemplate]="mapUrl" [markerSettings]="mapMarker"></e-layer>
            </e-layers>
        </ejs-maps>
    </div>
    <h3>Actions</h3>
    <ul>
        <li *ngIf="signupButtonText"><button (click)="signup()">{{signupButtonText}}</button></li>
        <li *ngIf="!util.isOrganization()"><button (click)="startThread()">Chat with the organizer</button></li>
    </ul>
</section>
<section *ngIf="participatedBefore">
    <div class="participated-actions">
        <button (click)="updateLike($event)" [class.liked]="liked" class="like-button"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64px" height="64px">
                <path
                    d="M16.5,3C13.605,3,12,5.09,12,5.09S10.395,3,7.5,3C4.462,3,2,5.462,2,8.5c0,4.171,4.912,8.213,6.281,9.49 C9.858,19.46,12,21.35,12,21.35s2.142-1.89,3.719-3.36C17.088,16.713,22,12.671,22,8.5C22,5.462,19.538,3,16.5,3z M14.811,16.11 c-0.177,0.16-0.331,0.299-0.456,0.416c-0.751,0.7-1.639,1.503-2.355,2.145c-0.716-0.642-1.605-1.446-2.355-2.145 c-0.126-0.117-0.28-0.257-0.456-0.416C7.769,14.827,4,11.419,4,8.5C4,6.57,5.57,5,7.5,5c1.827,0,2.886,1.275,2.914,1.308L12,8 l1.586-1.692C13.596,6.295,14.673,5,16.5,5C18.43,5,20,6.57,20,8.5C20,11.419,16.231,14.827,14.811,16.11z" />
            </svg></button> ({{workshop ? workshop.numLikes : 0}}) <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 30 30" width="64px" height="64px">
            <path
                d="M 5 5 C 3.895 5 3 5.895 3 7 L 3 22 C 3 23.105 3.895 24 5 24 L 9 24 L 9 28 A 1 1 0 0 0 10 29 A 1 1 0 0 0 10.837891 28.542969 L 14.25 24 L 25 24 C 26.105 24 27 23.105 27 22 L 27 7 C 27 5.895 26.105 5 25 5 L 5 5 z" />
        </svg> ({{workshop ? workshop.numComments : 0}})
    </div>
    <h3>Comments</h3>
    <form (submit)="addComment($event)">
        <label for="comment-text">Leave a comment:</label>
        <input type="text" name="comment-text" id="comment-text" [(ngModel)]="commentText">
        <input type="submit" value="Comment">
    </form>
    <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
            <div class="profile-picture"><img src="{{util.profilePictureUrl(comment.user)}}"></div>
            <div>
                <p class="comment-user-date"><strong>{{comment.user.name}}</strong>, {{comment.date}}</p>
                <p class="comment-text">{{comment.text}}</p>
            </div>
        </div>
    </div>
</section>
