<h2>Forgot password</h2>
<form (submit)="forgotPassword($event)">
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email">
    </p>
    <p>
        <label for="confirm-email">Confirm email:</label>
        <input type="email" id="confirm-email" name="confirm-email" [(ngModel)]="confirmEmail">
    </p>
    <p>
        <input type="submit" value="Request reset">
    </p>
    <p class="error">{{error}}</p>
    <p class="success">{{status}}</p>
</form>
