<h2>Reset password</h2>
<form (submit)="resetPassword($event)">
    <p>
        <label for="new-password">New password:</label>
        <input type="password" id="new-password" name="new-password" [(ngModel)]="newPassword">
    </p>
    <p>
        <label for="confirm-password">Confirm password:</label>
        <input type="password" id="confirm-password" name="confirm-password" [(ngModel)]="confirmPassword">
    </p>
    <p>
        Password rules:
    </p>
    <ul>
        <li>Must be between 8 and 16 characters in length, inclusive.</li>
        <li>Must contain at least one lowercase letter, uppercase letter, number and special character.</li>
        <li>Must start with a letter.</li>
    </ul>
    <p>
        <input type="submit" value="Reset">
    </p>
    <p class="error">{{error}}</p>
    <p class="success" *ngIf="success">
        Your password has been successfully reset! You can now <a [routerLink]="['/account/login']">log in</a>.
    </p>
</form>
